{{> header }}

{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Node</h1>
            <p>
                lorem
            </p>
        </div>

<div class="col-4">
<img src="assets/img/node.png" class="img-thumbnail">
</div>
    </div>


    {{> footer }}